# Ignorar archivos compilados
*.class

# Ignorar carpetas de compilación
/target/
/build/
/bin/

# Ignorar archivos de configuración específicos de NetBeans
nbproject/private/
.nb-gradle/
*.orig

# Ignorar archivos temporales
*.log
*.tmp
*~